@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Variables

$Pink: #ff52bf;
$Light-Pink: #ff8fd8;
$Light-Red: #ff4242;
$Very-Dark-Cyan: #00252e;
$Very-Pale-Blue: #f5faff;
$Cards-bg: #F6FBFF;
$White: #fff;
$Grey: #808080;

$Poppins: 'Poppins', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;

body {
    font-family: $Poppins;
    .header {
        .header-img {
            height: 18px;
            @media (min-width: 768px) {
                height: 40px;
            }
        }
        .header-button {
            font-size: .7rem;
            color: $Pink;
            border: 1px solid $Pink;
            border-radius: 25px;
            text-transform: capitalize;
            transition: .2s;
            &:hover {
                scale: 1.1;
            }
            @media (min-width: 768px) {
                font-size: 1rem;                
            }
        }
    }
    .container {
        .container-text-n-button {
            .container-title {
                font-size: 1.6rem;
                @media (min-width: 768px) {
                    font-size: 3rem;
                }
            }
            .container-paragraph {
                font-family: $Open-Sans;
                font-size: .9rem;
                @media (min-width: 768px) {
                    font-size: 1.3rem;
                }

            }
            .container-button {
                background-color: $Pink;
                color: $White;
                font-size: .7rem;
                letter-spacing: 1px;
                transition: .2s;
                &:hover {
                    scale: 1.1;
                }
                @media (min-width: 768px) {
                    font-size: 1.2rem;
                }
            }
        }
        .section {
            @media (min-width: 768px) {
                grid-template-columns: 45% 45%;
            }
            .section-container {
                font-family: $Open-Sans;
                .section-numbers {
                    font-size: 3.5rem;
                    @media (min-width: 768px) {
                        font-size: 6rem;
                    }
                }
                .section-text {
                    color: $Grey;
                    @media (min-width: 768px) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .cards {
            .bg-section-top-mobile-1,
            .bg-section-top-mobile-2 {
                margin-bottom: -2.5rem;
            }
            .bg-section-bottom-mobile-1,
            .bg-section-bottom-mobile-2 {
                margin-top: -2.5rem;                
            }
            .card {
                &:nth-child(2),
                &:nth-child(6) {
                    background-color: $Cards-bg;
                }
                .card-title-n-text {
                    .card-title {
                        font-size: 1.3rem;
                        text-align: center;
                        @media (min-width: 768px) {
                            font-size: 2.5rem;
                            text-align: start;
                            //
                        }
                    }
                    .card-text {
                        font-family: $Open-Sans;
                        font-size: .8rem;
                        @media (min-width: 768px) {
                            font-size: 1rem;
                        }
                    }
                }
                @media (min-width: 768px) {
                    grid-template-columns: 45% 45%;
                }
            }
        }
        .cta {
            .cta-title {
                font-size: 1.5rem;
                @media (min-width: 768px) {
                    font-size: 2.5rem;
                }
            }
            .cta-button {
                background-color: $Pink;
                color: $White;
                font-size: .7rem;
                letter-spacing: 1px;      
                transition: .2s;
                &:hover {
                    scale: 1.1;
                }
                @media (min-width: 768px) {
                    font-size: 1.2rem;
                }         
            }
        }
    }
    .bg-footer-top-mobile {
        margin-bottom: -1px;
    }
    .footer {
        background-color: $Very-Dark-Cyan;
        color: $White;
        @media (min-width: 768px) {
            grid-template-columns: 3% 30% 1fr 38% 3%;
            gap: 50px;
        }  
        .footer-newsletter {
            position: relative;
            @media (min-width: 768px) {
                grid-area: 1 / 4;
                grid-template-columns: 63% 1fr;
                grid-template-rows: auto auto 1fr;
                gap: 15px 30px;
            }  
            .newsletter-title {
                font-size: 1.2rem;
                text-transform: uppercase;
                @media (min-width: 768px) {
                    grid-area: 1 / 1;
                    font-size: 1.5rem;
                }  
            }
            .newsletter-text {
                font-family: $Open-Sans;
                font-size: .9rem;
                font-weight: 500;
                line-height: 25px;
                @media (min-width: 768px) {
                    grid-area: 2 / 1;
                }  
            }
            .newsletter-input {
                border-radius: 5px;
                color: $Very-Dark-Cyan;
                @media (min-width: 768px) {
                    grid-area: 3 / 1;
                    height: fit-content;
                }  
            }

            .newsletter-button {
                font-family: $Open-Sans;
                background-color: $Pink;
                border-radius: 5px;
                transition: .2s;
                &:hover {
                    scale: 1.1;
                }
                @media (min-width: 768px) {
                    grid-area: 3 / 2;
                    height: fit-content;
                }  
            }
        }
        .footer-contact-info {
            @media (min-width: 768px) {
                grid-area: 1 / 2;
            } 
            .footer-logo {
                transform: translateX(-18px);
                @media (min-width: 768px) {
                    transform: translate(-23px, -15px);
                } 
            }
            .contact-info-text {
                font-family: $Open-Sans;
                font-size: .85rem;
                line-height: 25px;
                @media (min-width: 768px) {
                    font-size: 1rem;
                } 
            }
            .contact-info-div {
                .contact-info {
                    font-family: $Open-Sans;
                    font-size: .9rem;
                    @media (min-width: 768px) {
                        font-size: 1.2rem;
                    } 
                }
            }
            .social-media {
                .social-media-icon {
                    transition: .2s;
                    &:hover {
                        cursor: pointer;
                        scale: 1.2;
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        background-color: $White;
                    }
                }
            }
        }
    }
}