@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
body .header .header-img {
  height: 18px;
}
@media (min-width: 768px) {
  body .header .header-img {
    height: 40px;
  }
}
body .header .header-button {
  font-size: 0.7rem;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 25px;
  text-transform: capitalize;
  transition: 0.2s;
}
body .header .header-button:hover {
  scale: 1.1;
}
@media (min-width: 768px) {
  body .header .header-button {
    font-size: 1rem;
  }
}
body .container .container-text-n-button .container-title {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  body .container .container-text-n-button .container-title {
    font-size: 3rem;
  }
}
body .container .container-text-n-button .container-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  body .container .container-text-n-button .container-paragraph {
    font-size: 1.3rem;
  }
}
body .container .container-text-n-button .container-button {
  background-color: #ff52bf;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: 0.2s;
}
body .container .container-text-n-button .container-button:hover {
  scale: 1.1;
}
@media (min-width: 768px) {
  body .container .container-text-n-button .container-button {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  body .container .section {
    grid-template-columns: 45% 45%;
  }
}
body .container .section .section-container {
  font-family: "Open Sans", sans-serif;
}
body .container .section .section-container .section-numbers {
  font-size: 3.5rem;
}
@media (min-width: 768px) {
  body .container .section .section-container .section-numbers {
    font-size: 6rem;
  }
}
body .container .section .section-container .section-text {
  color: #808080;
}
@media (min-width: 768px) {
  body .container .section .section-container .section-text {
    font-size: 1.6rem;
  }
}
body .container .cards .bg-section-top-mobile-1,
body .container .cards .bg-section-top-mobile-2 {
  margin-bottom: -2.5rem;
}
body .container .cards .bg-section-bottom-mobile-1,
body .container .cards .bg-section-bottom-mobile-2 {
  margin-top: -2.5rem;
}
body .container .cards .card:nth-child(2), body .container .cards .card:nth-child(6) {
  background-color: #F6FBFF;
}
body .container .cards .card .card-title-n-text .card-title {
  font-size: 1.3rem;
  text-align: center;
}
@media (min-width: 768px) {
  body .container .cards .card .card-title-n-text .card-title {
    font-size: 2.5rem;
    text-align: start;
  }
}
body .container .cards .card .card-title-n-text .card-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  body .container .cards .card .card-title-n-text .card-text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  body .container .cards .card {
    grid-template-columns: 45% 45%;
  }
}
body .container .cta .cta-title {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  body .container .cta .cta-title {
    font-size: 2.5rem;
  }
}
body .container .cta .cta-button {
  background-color: #ff52bf;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: 0.2s;
}
body .container .cta .cta-button:hover {
  scale: 1.1;
}
@media (min-width: 768px) {
  body .container .cta .cta-button {
    font-size: 1.2rem;
  }
}
body .bg-footer-top-mobile {
  margin-bottom: -1px;
}
body .footer {
  background-color: #00252e;
  color: #fff;
}
@media (min-width: 768px) {
  body .footer {
    grid-template-columns: 3% 30% 1fr 38% 3%;
    gap: 50px;
  }
}
body .footer .footer-newsletter {
  position: relative;
}
@media (min-width: 768px) {
  body .footer .footer-newsletter {
    grid-area: 1/4;
    grid-template-columns: 63% 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 15px 30px;
  }
}
body .footer .footer-newsletter .newsletter-title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  body .footer .footer-newsletter .newsletter-title {
    grid-area: 1/1;
    font-size: 1.5rem;
  }
}
body .footer .footer-newsletter .newsletter-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 25px;
}
@media (min-width: 768px) {
  body .footer .footer-newsletter .newsletter-text {
    grid-area: 2/1;
  }
}
body .footer .footer-newsletter .newsletter-input {
  border-radius: 5px;
  color: #00252e;
}
@media (min-width: 768px) {
  body .footer .footer-newsletter .newsletter-input {
    grid-area: 3/1;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body .footer .footer-newsletter .newsletter-button {
  font-family: "Open Sans", sans-serif;
  background-color: #ff52bf;
  border-radius: 5px;
  transition: 0.2s;
}
body .footer .footer-newsletter .newsletter-button:hover {
  scale: 1.1;
}
@media (min-width: 768px) {
  body .footer .footer-newsletter .newsletter-button {
    grid-area: 3/2;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 768px) {
  body .footer .footer-contact-info {
    grid-area: 1/2;
  }
}
body .footer .footer-contact-info .footer-logo {
  transform: translateX(-18px);
}
@media (min-width: 768px) {
  body .footer .footer-contact-info .footer-logo {
    transform: translate(-23px, -15px);
  }
}
body .footer .footer-contact-info .contact-info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 25px;
}
@media (min-width: 768px) {
  body .footer .footer-contact-info .contact-info-text {
    font-size: 1rem;
  }
}
body .footer .footer-contact-info .contact-info-div .contact-info {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  body .footer .footer-contact-info .contact-info-div .contact-info {
    font-size: 1.2rem;
  }
}
body .footer .footer-contact-info .social-media .social-media-icon {
  transition: 0.2s;
}
body .footer .footer-contact-info .social-media .social-media-icon:hover {
  cursor: pointer;
  scale: 1.2;
}
body .footer .footer-contact-info .social-media .social-media-icon:nth-child(1), body .footer .footer-contact-info .social-media .social-media-icon:nth-child(3) {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */